
 <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="dept/tanuja/12">Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClickOfAdmsn()">Admissions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stud">Student Section</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="staff">Staff Section</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        
      <li class="nav-item">
        <a class="nav-link" routerLink="commu">Parent-child Comm</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="compA">Comp A</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="compB">Comp B</a>
      </li>
 
      <li class="nav-item">
        <a class="nav-link" routerLink="exam">Exam</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="placement">Placements</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="primeng">PrimeNG</a>
      </li>

      </ul>
    </div>
  </nav>
   
  
